@import 'foundation/borders';
@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/typography';
@import 'foundation/utilities';

.List,
.GroupList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Group {
  padding-left: spacing();

  + .Group {
    border-top: border();
  }
}

.GroupTitle {
  margin-left: -1 * spacing();
  border-bottom: border();
  position: sticky;
  top: 0;
  left: 0;
  background: color(sky, light);
  font-size: 1.15rem;
}

.GroupList > .Item > .ContentWrapper {
  padding-left: spacing(tight);
}

.Item {
  display: block;

  + .Item {
    border-top: border();
  }
}

.ContentWrapper {
  display: block;
}

.Title {
  font-size: 1.15rem;
}

.Subtitle {
  font-size: 0.85rem;
  @include text-emphasis-subdued;
}

.Layout {
  padding: spacing(tight) spacing();
  min-height: rem(40px);
  display: flex;
  align-items: center;
}

.Content {
  flex: 1 1 auto;
}

.Accessory {
  flex: 0 0 auto;
  margin-left: spacing();
}
