@import 'foundation/border-radius';
@import 'foundation/colors';
@import 'foundation/spacing';

.Badge {
  height: 1.2rem;
  min-width: 1.2rem;
  display: block;
  display: flex;
  border-radius: 0.6rem;
  overflow: hidden;
  background: color(sky, darker);
  line-height: 0;
  color: color(slate);

  > .Segment:first-child {
    padding-left: spacing(extra-tight) * 1.5;
  }

  > .Segment:last-child {
    padding-right: spacing(extra-tight) * 1.5;
  }
}

.Segment {
  height: 1.2rem;
  font-size: 0.85rem;
  flex: 1 1 auto;
  line-height: 1.2rem;
  padding: 0 spacing(extra-tight);
}

.statusSuccess {
  background: color(green, light);
  color: color(green, darker);
}

.statusFailure {
  background: color(red, light);
  color: color(red, darker);
}
