<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>React snapshot tests</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% styles.forEach(function(style) { %>
    <%= style %>
  <% }); %>
</head>

<body>
  <div id="root"></div>
  <% scripts.forEach(function(script) { %>
    <%= script %>
  <% }); %>
</body>
</html>
