@import 'foundation/borders';
@import 'foundation/spacing';

.List {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Item {
  padding: spacing(tight) spacing();

  + .Item {
    border-top: border();
  }
}
