@import 'foundation/colors';
@import 'foundation/typography';

html,
body {
  font-family: font-family();
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}
